@model HelloMVCWorld2.Models.Movie
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    The Movie @Model.Title was released @Model.ReleaseDate.ToLongDateString()
    <p>Hello, world - my name is Luis Fernando Mendez Mendoza and the current date is: @DateTime.Now.ToString()</p>
    
</body>
</html>
