
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    @RenderBody()
    <p> Mucho más contenido va en esta sección de la página...</p>
    
    @RenderSection("Footer", required: false)

    @if (!IsSectionDefined("Footer"))
    {
        <span>Pie de Página por Genérico...!</span>
    }
</body>
</html>
