@model HelloMVCWorld2.Models.Product
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Footer {
<span>
    Este es el footer de la pagina  <b>/Product/Detail/</b> !
</span>
}

<!DOCTYPE html>

<h1>@Model.Title</h1>
El Precio: @Model.Price


